<div class="form-group row">
        <label for="movieName" class="col-xs-2 col-sm-2 col-md-3 col-lg-3 col-form-label">Movie Name</label>
        <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9" >
            <input type="text" class="form-control" id="movieName" name="movie_name" placeholder="Enter new Movie name" maxlength="50">
        </div>
</div>
<div class="form-group row">
    <label for="DirectorDDL" class="col-xs-2 col-sm-2 col-md-3 col-lg-3 col-form-label">Movie Director</label>
    <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
        <select id="DirectorDDL"  class="form-control" name="director_id"></select>
    </div>
</div>
<div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
        <input  type="hidden"  name="ctrl" value="movie" >
        <button class="btnAdd btn btn-primary" id="btnAction" type="submit"></button>
    </div>
</div>
<div class="form-group row">
    <input  type="text" name="duplicate_movie"  class="validation_errors">
</div>

    