<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
                <a class="navbar-brand" href="#">Movies Management</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="../movie/index.html">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Movies
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../movie/create.html">Create Movie</a></li>
                    <li><a href="../movie/update.html">Update Movie</a></li>
                    <li><a href="../movie/delete.html">Delete Movie</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Director
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../director/index.html">Show Directors</a></li>
                    <li><a href="../director/create.html">Create Director</a></li>
                    <li><a href="../director/update.html">Update Director</a></li>
                    <li><a href="../director/delete.html">Delete Director</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav> 
